@font-face {
    font-family: 'panorama';
    src: url('../../public/assets/font/panorama-black.woff2') format('woff2');
    font-display: swap;
    font-weight: 900;
}

@font-face {
    font-family: 'panorama';
    src: url('../../public/assets/font/panorama-light.woff2') format('woff2');
    font-display: swap;
    font-weight: 300;
}

@font-face {
    font-family: 'roboto';
    src: url('../../public/assets/font/roboto-regular.woff2') format('woff2');
    font-display: swap;
    font-weight: normal;
}

@font-face {
    font-family: 'roboto';
    src: url('../../public/assets/font/roboto-bold.woff2') format('woff2');
    font-display: swap;
    font-weight: bold;
}

$panorama: 'panorama';
$roboto: 'roboto';










