* {
    box-sizing: border-box;
  }
  
  html {
    overscroll-behavior: contain;
  }
  @media (prefers-reduced-motion: no-preference) {
    html {
      scroll-behavior: smooth;
    }
  }
  
  body {
    --activeColor: rgb(240 240 240);
    --navBgColor: rgb(37 38 41);
    --navTextColor: rgb(144 144 150);
    --mainBg: rgb(20 20 23);
    font-family: "Syncopate", sans-serif;
    min-height: 100vh;
    margin: 0;
    color: #141417;
    background: var(--mainBg);
  }
  
  img {
    display: block;
    width: 100%;
    height: auto;
    max-width: 100%;
  }
