#section_4 {
    padding: 0;
    background-color: white;
}

.container__form {
    height: auto;
    width: 100%;
    display: flex;
    @media (max-width: 1200px) {
        flex-direction: column;
    }

    .wrapper__content {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 5rem;
        font-family: $panorama;
        img {
            display: block;
            width: auto;
            height: 100%;
            max-width: 100%;
            object-fit: cover;
        }
        @media (max-width: 1200px) {
            padding: 2.5rem 2.5rem 0rem;
            width: 100%;
        }
    }
    .wrapper__form {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 5rem;
        @media (max-width: 1200px) {
            padding: 2.5rem;
            width: 100%;
        }
        form {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            color: $lightBlack;
            .submit {
                height: 3rem;
                background-color: $lightBlack;
                // transition: 0.3s ease-in-out;
                // &:hover {
                //     background-color: $red;
                // }
            }
        }
    }
}

input, label {
    font-family: $roboto !important;
}